.drommeoversikt_heading {
  margin-top: @ffe-spacing-2xl;
  margin-bottom: 0;
  color: @ffe-farge-villblomst;
}

//.drommeoversikt_shortcut-button {
//  background: @ffe-farge-lyng;
//  border: @ffe-farge-hvit;
//  color: @ffe-farge-hvit;
//
//  &:hover {
//    background: @ffe-farge-lyng-70;
//  }
//
//  &:visited, &:active {
//    color: @ffe-farge-hvit;
//  }
//}

.drommeoversikt_wrapper-heading {
  color: @ffe-farge-fjell-70;
}

.dromme-toggles {
  margin: 0 auto;
  max-width: 50%;
}

.liste-med-cards-container {
  margin-bottom: @ffe-spacing-md;
}

.kontoliste-container {
  padding-left: @ffe-spacing-lg;
  padding-right: @ffe-spacing-lg;
}

.konto-knapp {
  min-width: 200px;
}